.wrapper {
  width: 1000px;
  margin: 0 auto;


}

.atom {
  background-color: #fff;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 15px 10px;
}

a {
  color: #fff;
}

//label
.badge {

  &__new {
    background-color: #fffb7e;
    border-radius: 4px;
    font-size: 10px;
    padding: 0 4px;
    color: #000;
    cursor: default;
    position: absolute;
    top: -17px;
    right: 1px;
  }

  &__hit {
    background-color: #fffb7e;
    border-radius: 4px;
    font-size: 10px;
    padding: 0 4px;
    color: #000;
    cursor: default;
    position: absolute;
    top: -17px;
    right: 1px;
  }
}


//description
.description {
  padding: 0 10px 20px 20px;

  &__text {

  }
}

//main-title
.main-title {
  display: inline-block;
  padding: 0 10px;
  
  &__text {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }

}

//logo
.logo {
  padding: 22px 0 0 23px;

  &__img {

  }
}

//general-reseller
.general-reseller {
  display: inline-block;
  float: right;
  margin: 0 10px;
}

//main-slideshow
.main-slideshow {
  margin: 0 29px;
}









