.item {

  &__top {

    &-name {
      margin: 4px 0 57px 0;
    }
  }

  &__bottom {

    &-bonus {
      margin: 10px 0;
    }
  }

  &__img {
    display: block;
    margin: 30px 30px;
  }

  &__text {
    padding: 10px 0;

    &-code {
      font-size: 10px;
      color: #777777;
    }

    &-model {
      color: #5B5B5B;
      font-size: 10px;
    }
  }

  &__name {
    color: #2a67aa;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
  }

  &__price {

    &_old {
      color: #5c5c5c;
      font-size: 18px;
      margin-right: 10px;
    }

    &_cross {
      display: inline-block;
      text-decoration: line-through;
      color: red;
    }

    &_new {
      color: #F60;
      font-size: 24px;
      font-weight: bold;
    }

    &_value {
      font-size: 12px;
      top: -11px;
      margin: 0 -2px;
      font-weight: bold;
    }
  }

  &__bonus {
    color: rgb(74, 156, 13);
    font-size: 14px;
  }

  &__moneyback {
    position: relative;
    &-img {
      position: absolute;
      top: -74px;
      left: 2px;
      height: 84px;
    }

    &-text {
      font-size: 30px;
      font-weight: bold;
      color: #ffffff;
      position: absolute;
      top: -45px;
      left: 9px;
    }
  }

  &__quantity {
    color: #C2C2C2;
    font-size: 11px;
    font-weight: bold;
  }

  &__ico {
    margin: 0 8px;
  }
}
