.header {

  &__top {

  }

  &__bottom {
    background: #f6731c;

    &-col1,
    &-col2,
    &-col3,
    &-col4 {
      float: left;
    }
    &-col1 {
      width: 25%;
    }

    &-col2{
      width: 40%;
    }

    &-col3 {
      width: 20%;
    }

    &-col4 {
      width: 15%;
    }
  }
}

.main {

  &__left,
  &__right {
    float: left;
  }

  &__left {
    width: 22%;
    box-sizing: border-box;
    border-right: 1px solid rgba(240, 240, 240, 0.7);
    display: block;
  }


  &__right {
    width: 78%;
  }
}
