.user-menu {
  font-size: 11px;
  background-color: #ababab;

  &__list {

  }

  &__el {
    display: inline-block;
    padding-left: 15px;
    line-height: 24px;
  }

  &__link {

    &-underline {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
